:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --main-color:  rgb(116, 15, 15);
  --main-light-back:  rgb(239, 236, 233);
}
body {
  background-color:var(--main-light-back);
  background-image: url(assets/back.jpg);
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Prata', serif;
  padding: 25px;
  color: var(--main-color)
}

h1#title {
  font-family: 'Kalnia', serif;
  
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 55px;
  color:var(--main-color);
  
}

div ul.nav {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin-left:190px;
  margin-right: 190px;
  
}
div ul.nav li {
  text-transform: lowercase;
  padding: 10px;
  
}
div ul.nav li:first-child:nth-last-child(1) {
  
  width:100%;
}
div ul.nav li:hover {
  background-color: var(--main-color);
  color: white;
}


/*About Page*/
div.about-card-container {
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

div.about-card-container div.card {
  
  background-color: #fbf9f4;
}

div.about-card-container div.card h5{
  
}
div.about-card-container div.card h6{
  
}